<header class="align-center">
    <h2>What do I count in my Wealth/Net Assets for Zakat?</h2>
    <p>if you have any questions, you can contact us so we provide you with more explanations </p>
</header>
<div class="row" style="width: 80% ;margin: auto">
    <div class="col-md-8" style="margin: auto">


        <p>Your wealth or net assets can be summed up as the liquid assets you possess minus your short term liabilities.

            Liquid assets are those that can be transformed into cash very easily. Short term liabilities include your bills, rent, personal loans and credit card debts. Most scholars agree that any mortgage that you may hold, should not be included in that calculation.

            Here’s what should be included in your assets:</p>
       <ul>
           <li>Cash in the bank and at home</li>
           <li>Cash saved for any special purposes e.g. wedding, Hajj, car purchase, etc.</li>
           <li>The value of gold and silver you own</li>
           <li>The value of shares at their market price</li>
           <li>Money owed to you, which is highly likely to be repaid</li>
           <li>If you own a business, the balance sheet value of the stock(s) you possess.</li>
           <li>If you own properties, any rental income that has been saved</li>
       </ul>


    </div>
    <div class="col-md-4">
        <img [src]="srcVar" alt="" class="imgINfo" style="height:275px;margin-top: auto;margin-bottom: auto"/>
    </div>
</div>
<div class="row" style="width: 80% ;margin: auto">
    <div class="col-md-12">
        <p> You do not need to count the value of your home or land as part of your assets.  You also don’t need to include person items, such as a car, clothing, home appliances, etc. as part of your assets.
        </p>
        <ul>
            <li>If you own investment properties (to buy / to let), then any saved rental income will be a part of your assets. The equity value of your investment property portfolio is not included as part of your assets in the Zakat calculation.</li>
            <li>If any investment property is due to be sold around your Zakat due date, then the anticipated profit is to be included as part of your assets.
            </li>
        </ul>
        <p>Here’s what should be included in your liabilities:</p>
        <ul>
            <li>            Money you owe to others i.e. personal loans from banks and friends, credit card debts, etc.
            </li>
            <li>            Current month’s rent/mortgage payment or arrears
            </li>
            <li>            Bills which are due
            </li>
            <li>            If you own a business, then business expenses e.g. rent, rates, salaries, utility bills, etc.
            </li>
            <li>            Short term business loans and overdraft amounts are included in your liabilities.
            </li>
        </ul>
        <p>The calculation for your wealth/net assets is: <br>

            Assets – short term liability = your wealth. <br>
            As long as your wealth, is above the nisab of the day, you are eligible to pay Zakat.</p>

    </div>
</div>
