
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef style="min-width: 100px"> First Name </th>
            <td mat-cell *matCellDef="let element" style="min-width: 100px"> {{element.firstName}} </td>
        </ng-container>
        <ng-container matColumnDef="lastName" style="min-width: 100px">>
            <th mat-header-cell *matHeaderCellDef style="min-width: 100px"> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef style="min-width: 100px"> Phone Number </th>
            <td mat-cell *matCellDef="let element" style="min-width: 100px">{{element.phoneNumber}} </td>
        </ng-container>>
        <ng-container matColumnDef="adress" >
            <th mat-header-cell *matHeaderCellDef style="min-width: 100px"> Adress </th>
            <td mat-cell *matCellDef="let element" style="min-width: 100px"> {{element.adress}} </td>
        </ng-container>
        <ng-container matColumnDef="givenAmount" >
            <th mat-header-cell *matHeaderCellDef style="min-width: 100px"> Given Amount </th>
            <td mat-cell *matCellDef="let element" style="min-width: 100px"> {{element.extraUserId}}<strong> TND</strong> </td>
        </ng-container>
        <ng-container matColumnDef="details" >
            <th mat-header-cell *matHeaderCellDef style="min-width: 100px"> </th>
            <td mat-cell *matCellDef="let element"  style="min-width: 100px" class="text-center">
                <div class="example-button-container">
                    <button mat-mini-fab color="primary" (click)="onSelectBeneficiary(element)" >
                        <mat-icon>perm_identity</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="row">
        <div class="col-md-3 text-center mt-2">
            <a  [routerLink]="['new']" class="btn btn-success btn-round"
                style="width: 100%;margin:auto">add new beneficiary</a>
        </div>
        <div class="col-md-9">
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>



