<footer class="footer" style="height: 70px">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        About us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right text-center">
            <div> <mat-icon>call</mat-icon>
                <a href="tel:+ 216 70 25 33 57" style="color: black">Tél : + 216 70 25 33 57</a> | <mat-icon>email</mat-icon>
                <a href="mailto:contact@smoothalgo.com" style="color: black">smoothalgo@gmail.com</a> </div>
            <p>
                Copyright &copy;
                {{test | date: 'yyyy'}}
                <a href="http://smoothalgo.com/">Smooth Algo</a>, all rights reserved.
            </p>
        </div>


    </div>
</footer>
