<header class="align-center">
    <h2>Benficiaries of Zakat</h2>
    <p>if you have any questions, you can contact us so we provide you with more explanations </p>
</header>
<div class="row" style="width: 80% ;margin: auto">
    <div class="col-md-8" style="margin: auto">


        <p>Unlike normal charity (sadaqah), the recipients of Zakat have been specified by Allah (S.W.T) in the Holy Al-Quran, Surah Al-Taubah, verse 60.</p>

        <blockquote>"Zakat is for the poor and the needy, and amil (those employed to administer the funds), for the muallaf (those who have embraced Islam), for those in bondage and in debt, those who strive in the cause of Allah and for the wayfarer; (thus it is) ordained by Allah and Allah is full of knowledge and wisdom."</blockquote>
        <h4>Fakir</h4>
        <p>One who has neither material possession nor means of livelihood; one who suffers, and has no means to sustain his/her daily needs.</p>

    </div>
    <div class="col-md-4">
        <img [src]="srcVar" alt="" class="imgINfo" style="height:275px;margin-top: auto;margin-bottom: auto"/>
    </div>
</div>
<div class="row" style="width: 80% ;margin: auto">
    <div class="col-md-12">
        <h4>Miskin</h4>
        <p>One who has insufficient means of livelihood to meet his/her basic needs.
            Zakat disbursement to the poor & needy includes:</p>
        <ul>
            <li>Monthly financial assistance (FA)</li>
            <li>Muis empowerment programmes</li>
            <li>Special assistance during Ramadan for Muslim residents community homes/public assistance recipients</li>
            <li>Supportive programme grants to organisations</li>
        </ul>
        <p>Applications are open to poor and needy Muslims who are Singapore Citizens or Permanent Residents who fall within the following categories:</p>
        <ul>
            <li>Single parent: widow or divorcee in need</li>
            <li>Breadwinner in prison or DRC</li>
            <li>Breadwinner or family members incurring high medical bills due to: (a) chronic illness e.g. kidney failure, cancer. (b) mental/physical disability </li>
            <li>Insufficient household income due to large number of dependants</li>
        </ul>
        <h4>Amil</h4>
        <p>One who is appointed to collect Zakat and the expenses incurred in the administration of Zakat. Disbursement to Amil includes:</p>
        <ul>
            <li>Administration cost</li>
            <li>Training cost</li>
        </ul>
        <h4>Muallaf</h4>
        <p>One who recently embraced Islam. Disbursement to Muallaf includes:</p>
        <ul>
            <li>Grant to Darul Arqam to administer the affairs of new Muslim converts</li>
        </ul>
        <h4>Riqab</h4>
        <p>One who is freeing himself/herself from the bondage or shackles of slavery. In Singapore, this category refers to those who need some assistance to pursue their education, usually children of zakat recipients. Disbursement for Riqab includes:</p>
        <ul><li>
            Education grants for needy families
        </li></ul>
        <h4>Gharimin</h4>
        <p>One who is in debt and needs assistance to meet his/her basic needs. Disbursement for Gharimin includes:
        </p>
        <ul>
            <li>Assistance for outstanding basic necessities bills e.g. utilities bills and service and conservancy charges</li>
        </ul>
        <h4>Fisabilillah</h4>
        <p>One who strives in the cause of Allah for the betterment of the community. Disbursement to Fisabilillah includes:</p>
        <ul>
            <li>Religious programmes
            </li>
            <li>Mosque leadership and management</li>
            <li>Madrasah development and assistance</li>
            <li>Youth development and engagement</li>
            <li>Dakwah and public education</li>
            <li>Islamic education</li>
            <li>Asatizah development</li>
            <li>Community development</li>
        </ul>
        <h4>Ibnussabil</h4>
        <p>Stranded travellers on a permissible journey. Disbursement to Ibnussabil includes:</p>
        <ul>
            <li>Financial assistance</li>
            <li>Food assistance</li>
            <li>Return air ticket to home country</li>
        </ul>
    </div>
</div>
