@import '~bootswatch/dist/materia/variables';
// Override Bootstrap variables
@import '../../content/scss/bootstrap-variables';
// Import Bootstrap source files from node_modules
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/materia/bootswatch';
.table-responsive {
  background: white;
  margin: 0px;
}

.invisible {
  display: none;
}
