<header class="align-center">
    <h2>Who have to pay Zakat?</h2>
    <p>if you have any questions, you can contact us so we provide you with more explanations </p>
</header>
<div class="row" style="width: 80% ;margin: auto">
    <div class="col-md-8" style="margin: auto">


        <p>Zakat must be paid by Muslim adults who are mentally sane and in possession of an amount of wealth (net assets) above the nisab.

            The Shafi, Maliki and Hanbali madhabs are of the view that Zakat is also payable by children and the insane, as long as their wealth is above the nisab threshold.

            The word nisab means the minimum amount of property or wealth / assets that must be owned by a Muslim before they are obliged to start paying Zakat. This minimum amount is called the nisab threshold.

            You first become eligible to pay Zakat the day your wealth reaches the nisab threshold. The Zakat is calculated and paid on the wealth of a person after a full lunar (Islamic) year. A lunar year is around 354 days long.

            Example: Abdullah has recently started working and is paid £1,000 after one month. He has no debts and therefore his wealth is the full £1,000. The nisab threshold at the time is £190. Therefore, Abdullah becomes obliged to pay Zakat as his new wealth is above the nisab threshold.

            After 354 days – a full lunar year – it’s time for Abdullah to reassess his situation and see how much wealth / net assets he has over and above the nisab threshold.

            Abdullah works out that he has saved £10,000 and has immediate/short-term debts of £2,000.</p>
        <p>Hence, at the end of the lunar year, Abdullah’s wealth or net assets are worth £8,000 and the nisab at that point in time is £200.

            Therefore, Abdullah will need to pay 2.5% of the £8,000 as Zakat, which is £200.

            Many Muslims pay their Zakat during Ramadan, as it is easy for them to remember when the Zakat is due. Often, they pay on the 27th night of Ramadan to try and maximise their rewards.

            The more correct Islamic process, however, is to calculate and pay the Zakat one lunar / Islamic year from the day your wealth exceeded the nisab threshold.
        </p>

    </div>
    <div class="col-md-4">
        <img [src]="srcVar" alt="" class="imgINfo" style="height:275px;margin-top: auto;margin-bottom: auto"/>
    </div>
</div>
