<div class="card">
    <div class="card-header card-header-danger" style="background: #2196F3">
        <h4 class="card-title ">Beneficiaries of Zakat</h4>
        <p class="card-category"> The Holy Quran (9:60) classifies the due recipients of zakat under the following eight categories.
        </p>
    </div>
    <div class="card-body">
        <div class="table-responsivet">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <mat-icon>label</mat-icon>
                        </td>
                        <td> The poor (Faqir/Fuqara)</td>
                    </tr>
                    <tr>
                        <td>
                            <mat-icon>label</mat-icon>
                        </td>
                        <td>The needy (Miskeen)</td>
                    </tr>
                    <tr>
                        <td>
                            <mat-icon>label</mat-icon>
                        </td>
                        <td>The administrators of zakat (Amil)</td>
                    </tr>
                    <tr>
                        <td>
                            <mat-icon>label</mat-icon>
                        </td>
                        <td>The sympathizers (Muallaf-at-Quloobuhum)</td>
                    </tr>
                    <tr>
                        <td>
                            <mat-icon>label</mat-icon>
                        </td>
                        <td>To free slaves (Riqab)</td>
                    </tr>
                    <tr>
                        <td>
                            <mat-icon>label</mat-icon>
                        </td>
                        <td>Those who are in debt (Gharimin)</td>
                    </tr>
                    <tr>
                        <td>
                            <mat-icon>label</mat-icon>
                        </td>
                        <td>For the cause of God (Fisabillillah)</td>
                    </tr>
                    <tr>
                        <td>
                            <mat-icon>label</mat-icon>
                        </td>
                        <td>Those who are stranded during a journey (Ibnus Sabil)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>

</div>
