<header class="align-center">
    <h2>When do I pay Zakat ?</h2>
    <p>if you have any questions, you can contact us so we provide you with more explanations </p>
</header>
<div class="row" style="width: 80% ;margin: auto">
    <div class="col-md-8" style="margin: auto">


        <p>The moment you possess wealth above the nisab threshold you become eligible to pay Zakat. However, no payment is due on that date itself.

            The Zakat is to be paid after one full hawl– but only if your wealth at that future date is still above the nisab threshold.

            It does not matter if your wealth decreases or increases during the year. It is the value of your wealth / assets at the end of the lunar year that is used to calculate and pay the Zakat (if it still exceeds the nisab).
        </p>
        <p>Example 1: The nisab threshold is £200 today and Abdullah has £1,000 in savings and no debt. His wealth / net assets are £1,000 and, therefore, he becomes eligible to pay Zakat.

            After a hawl / lunar year passes, Abdullah has become richer and has savings of £2,000. The nisab threshold has also risen to £210 over the year.

            As Abdullah’s wealth is still above the nisab threshold at the end of the year, he must therefore pay Zakat on the £2,000. The amount of Zakat to be paid must be calculated on the value of his wealth/assets at the end of the hawl (lunar year).

            Example 2: The nisab threshold is £200 today and Abdullah has £1,000 in savings and no debt. His wealth / net assets are £1,000 and therefore he becomes eligible to pay Zakat.

            After a hawl (lunar year) passes, Abdullah has become poorer and has savings of only £500. The nisab threshold has risen to £210 over the year, so Abdullah’s wealth is still above the nisab threshold at the end of the year. He must, therefore, pay Zakat only on the £500.

            Example 3: The nisab threshold is £200 today and Abdullah has £1,000 in savings and no debt. His wealth / net assets are £1,000 and therefore he becomes eligible to pay Zakat.

            After a hawl (lunar year) passes, however, Abdullah has lost his job and has savings of only £100. The nisab threshold has risen to £210 over the year, so Abdullah’s wealth is below the nisab threshold at the end of the year. Abdullah, therefore,
            does not need to pay Zakat for that year.</p>

    </div>
    <div class="col-md-4">
        <img [src]="srcVar" alt="" class="imgINfo" style="height:275px;margin-top: auto;margin-bottom: auto"/>
    </div>
</div>
