<div (scroll)="onWindowScroll($event)" class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}" >
    <div>
        <router-outlet name="navbar"></router-outlet>
    </div>
    <div *ngIf="isAuthenticated()" class="navbar-container">
        <router-outlet name="sidebar"></router-outlet>
    </div>



        <main [ngClass]="{'page-content' : isAuthenticated()}">
            <div [ngClass]="{'container-fluid' : isAuthenticated()}">
                <div [ngClass]="{'container-fluid' : isAuthenticated()}">
                     <router-outlet></router-outlet>
                    <jhi-footer *ngIf="isAuthenticated()"></jhi-footer>
                </div>
            </div>
        </main>




</div>
