.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.custom-dialog-container .mat-dialog-container {
  margin-right: 10vw;
  margin-left: 10vw;
}
@import 'src/main/webapp/content/scss/material-dashboard';
