<header class="align-center">
    <h2>What is Nisab & Hawl (Period)?</h2>
    <p>if you have any questions, you can contact us so we provide you with more explanations </p>
</header>
<div class="row" style="width: 80% ;margin: auto">
    <div class="col-md-8" style="margin: auto">


        <p>The nisab is the minimum amount of wealth a Muslim must possess before they become eligible to pay Zakat. This amount is often referred to as the nisab threshold.

            Gold and silver are the two values used to calculate the nisab threshold.</p>
        <p>The nisab is the value of 87.48 grams of gold or 612.36 grams of silver. You can find the current values on our website or at a jewellery store.

            In the Hanafi madhab, the value of silver is used to ascertain the nisab threshold and eligibility to pay Zakat. The other madhabs use the value of gold.

            Islamic Relief advises its donors to use the silver value (which is almost always a lower nisab threshold to gold) as this allows for a greater amount of your wealth to be eligible for Zakat which, in turn, means more help for the deserving recipients of your Zakat.

            In explanations of Zakat, you may hear the term hawl – which means a lunar year. A hawl (lunar year) is 354 days long. Sometimes it is simply referred to as an Islamic year.

            The actual payment of Zakat is to be made one hawl (lunar year) after you become eligible to pay Zakat, if your wealth on that date is still at – or above – the nisab threshold.
        </p>

    </div>
    <div class="col-md-4">
        <img [src]="srcVar" alt="" class="imgINfo" style="height:275px;margin-top: auto;margin-bottom: auto"/>
    </div>
</div>
