<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Who have to pay Zakat?
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>

        </mat-expansion-panel-header>

        <p>
             Zakat must be paid by Muslim adults who are mentally sane and in possession of an amount of wealth (net assets) above the nisab.

            The Shafi, Maliki and Hanbali madhabs are of the view that Zakat is also payable by children and the insane, as long as their wealth is above the nisab threshold.

            The word nisab means the minimum amount of property or wealth / assets that must be owned by a Muslim before they are obliged to start paying Zakat. This minimum amount is called the nisab threshold.

            You first become eligible to pay Zakat the day your wealth reaches the nisab threshold. The Zakat is calculated and paid on the wealth of a person after a full lunar (Islamic) year. A lunar year is around 354 days long.

            Example: Abdullah has recently started working and is paid £1,000 after one month. He has no debts and therefore his wealth is the full £1,000. The nisab threshold at the time is £190. Therefore, Abdullah becomes obliged to pay Zakat as his new wealth is above the nisab threshold.

            After 354 days – a full lunar year – it’s time for Abdullah to reassess his situation and see how much wealth / net assets he has over and above the nisab threshold.

            Abdullah works out that he has saved £10,000 and has immediate/short-term debts of £2,000.

            Hence, at the end of the lunar year, Abdullah’s wealth or net assets are worth £8,000 and the nisab at that point in time is £200.

            Therefore, Abdullah will need to pay 2.5% of the £8,000 as Zakat, which is £200.

            Many Muslims pay their Zakat during Ramadan, as it is easy for them to remember when the Zakat is due. Often, they pay on the 27th night of Ramadan to try and maximise their rewards.

            The more correct Islamic process, however, is to calculate and pay the Zakat one lunar / Islamic year from the day your wealth exceeded the nisab threshold.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel >
        <mat-expansion-panel-header>
            <mat-panel-title>
                What is Nisab & Hawl (Period)
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>The nisab is the minimum amount of wealth a Muslim must possess before they become eligible to pay Zakat. This amount is often referred to as the nisab threshold.

            Gold and silver are the two values used to calculate the nisab threshold. The nisab is the value of 87.48 grams of gold or 612.36 grams of silver. You can find the current values on our website or at a jewellery store.

            In the Hanafi madhab, the value of silver is used to ascertain the nisab threshold and eligibility to pay Zakat. The other madhabs use the value of gold.

            Islamic Relief advises its donors to use the silver value (which is almost always a lower nisab threshold to gold) as this allows for a greater amount of your wealth to be eligible for Zakat which, in turn, means more help for the deserving recipients of your Zakat.

            In explanations of Zakat, you may hear the term hawl – which means a lunar year. A hawl (lunar year) is 354 days long. Sometimes it is simply referred to as an Islamic year.

            The actual payment of Zakat is to be made one hawl (lunar year) after you become eligible to pay Zakat, if your wealth on that date is still at – or above – the nisab threshold.</p>
    </mat-expansion-panel>
    <mat-expansion-panel >
        <mat-expansion-panel-header>
            <mat-panel-title>
                When do I pay Zakat
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>The moment you possess wealth above the nisab threshold you become eligible to pay Zakat. However, no payment is due on that date itself.

            The Zakat is to be paid after one full hawl– but only if your wealth at that future date is still above the nisab threshold.

            It does not matter if your wealth decreases or increases during the year. It is the value of your wealth / assets at the end of the lunar year that is used to calculate and pay the Zakat (if it still exceeds the nisab).

            Example 1: The nisab threshold is £200 today and Abdullah has £1,000 in savings and no debt. His wealth / net assets are £1,000 and, therefore, he becomes eligible to pay Zakat.

            After a hawl / lunar year passes, Abdullah has become richer and has savings of £2,000. The nisab threshold has also risen to £210 over the year.

            As Abdullah’s wealth is still above the nisab threshold at the end of the year, he must therefore pay Zakat on the £2,000. The amount of Zakat to be paid must be calculated on the value of his wealth/assets at the end of the hawl (lunar year).

            Example 2: The nisab threshold is £200 today and Abdullah has £1,000 in savings and no debt. His wealth / net assets are £1,000 and therefore he becomes eligible to pay Zakat.

            After a hawl (lunar year) passes, Abdullah has become poorer and has savings of only £500. The nisab threshold has risen to £210 over the year, so Abdullah’s wealth is still above the nisab threshold at the end of the year. He must, therefore, pay Zakat only on the £500.

            Example 3: The nisab threshold is £200 today and Abdullah has £1,000 in savings and no debt. His wealth / net assets are £1,000 and therefore he becomes eligible to pay Zakat.

            After a hawl (lunar year) passes, however, Abdullah has lost his job and has savings of only £100. The nisab threshold has risen to £210 over the year, so Abdullah’s wealth is below the nisab threshold at the end of the year. Abdullah, therefore, does not need to pay Zakat for that year.</p>
    </mat-expansion-panel>
    <mat-expansion-panel >
        <mat-expansion-panel-header>
            <mat-panel-title>
                What do I count in my Wealth/Net Assets for Zakat?
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Your wealth or net assets can be summed up as the liquid assets you possess minus your short term liabilities.

            Liquid assets are those that can be transformed into cash very easily. Short term liabilities include your bills, rent, personal loans and credit card debts. Most scholars agree that any mortgage that you may hold, should not be included in that calculation.

            Here’s what should be included in your assets:

            Cash in the bank and at home
            Cash saved for any special purposes e.g. wedding, Hajj, car purchase, etc.
            The value of gold and silver you own
            The value of shares at their market price
            Money owed to you, which is highly likely to be repaid
            If you own a business, the balance sheet value of the stock(s) you possess.
            If you own properties, any rental income that has been saved
            You do not need to count the value of your home or land as part of your assets.  You also don’t need to include person items, such as a car, clothing, home appliances, etc. as part of your assets.

            If you own investment properties (to buy / to let), then any saved rental income will be a part of your assets. The equity value of your investment property portfolio is not included as part of your assets in the Zakat calculation.

            If any investment property is due to be sold around your Zakat due date, then the anticipated profit is to be included as part of your assets.

            Here’s what should be included in your liabilities:

            Money you owe to others i.e. personal loans (from banks and friends (, credit card debts, etc.
            Current month’s rent/mortgage payment or arrears
            Bills which are due
            If you own a business, then business expenses e.g. rent, rates, salaries, utility bills, etc.
            Short term business loans and overdraft amounts are included in your liabilities.
            The calculation for your wealth/net assets is:

            Assets – short term liability = your wealth.

            As long as your wealth, is above the nisab of the day, you are eligible to pay Zakat.</p>
    </mat-expansion-panel>

</mat-accordion>
